{% extends 'index.html' %}
{% block content %} 
{% load static %}
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-6">
                <h3>
                  Requests Information</h3>
              </div>
              <div class="col-6">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                  <li class="breadcrumb-item"> Apps</li>
                  <li class="breadcrumb-item active"> Tasks Board</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid jkanban-container">
          <div class="row">

            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#modalRequests" title="btn btn-primary" style="float: right;">Create
                    request</button>
                  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalRequests">Vertically centered</button> -->
                  <div class="modal fade" id="modalRequests" tabindex="-1" role="dialog"
                    aria-labelledby="modalRequests" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Create request</h5>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="createRequest">
                          <div class="modal-body">
                            <!-- <form class="was-validated"> -->

                            <div class="mb-3">
                              <label class="form-label" for="validationTextarea">Title</label>
                              <input type="text" class="form-control" id="title" name="title" placeholder="title here"
                                required="">
                              <div class="invalid-feedback">Please enter a message in the textarea.</div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="validationTextarea">Description</label>
                              <textarea class="form-control" id="description" name="description"
                                placeholder="problem encountered" required=""></textarea>
                              <div class="invalid-feedback">Please enter a message in the textarea.</div>
                            </div>

                            <div class="mb-3">
                              <label class="form-label" for="validationTextarea">Type</label>
                              <select class="form-select" required="" aria-label="select example" id="cat1" name="cat1" onchange="updateList('cat2', this);">
                                <option ></option>
                              </select>
                              <div class="invalid-feedback">Example invalid select feedback</div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="validationTextarea" id="lbl_cat1">Category 1</label>
                              <select class="form-select" required="" aria-label="select example" id="cat2" name="cat2" onchange="updateList('resultData', this);">
                                <option ></option>
                              </select>
                              <div class="invalid-feedback">Example invalid select feedback</div>
                            </div>

                            <div>
                              <label class="form-label" for="validationTextarea">Image (optional)</label>
                              <!-- <input class="form-control" type="file" aria-label="file example" multiple> -->


                             <input type="file" multiple data-bind="fileInput: multiFileData, customFileInput: {                                                                 
                              }" accept="image/*" name="photos[]"  class="form-control" id="dpz-remove-all-thumb">


                              <div class="invalid-feedback">Example invalid form file feedback</div>
                              <!-- <div class="card-body">
                                <form class="dropzone dropzone-primary" id="multiFileUpload" action="/upload.php">
                                  <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                  </div>
                                </form>
                              </div> -->
                            </div>

                          </div>
                          <div class="modal-footer">
                            <input type="hidden" name="resultData" id="resultData" />
                            <!-- <div class="left-header col horizontal-wrapper ps-0">
                              <ul class="horizontal-menu">
                                <li class="level-menu outside"><a class="nav-link" href="#!" ><i data-feather="inbox"></i></a>
                                
                                </li>
                              </ul>
                              </li>
                              </ul>
                            </div> -->
                            <button class="btn btn-primary was-validated" type="submit">Save changes</button>
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <h5>Tasks Board</h5>
                  <p class="mb-0">Accounting Ticketing system</p>
                </div>
                <div class="card-body">
                  <div id="demo2" style="display: flex;"></div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
{% endblock %}